    <!-- Apresentação do sistema -->
    <section class="presentation">
        <div class="presentation-text">
            <h2>O que é o HubEscolar?</h2>
            <p>Bem-vindo ao<strong> HubEscolar</strong>, um site desenvolvido por profissionais da educação com o objetivo de agilizar, dinamizar e facilitar a rotina escolar. Nossa plataforma oferece ferramentas práticas e intuitivas, projetadas para simplificar tarefas complexas e rotineiras, ajudando gestores, professores e demais envolvidos no ambiente educacional a otimizar seu tempo e seus processos. No <strong> HubEscolar</strong>, buscamos fornecer soluções eficientes, focadas em tornar o trabalho mais produtivo e menos burocrático, permitindo que você concentre sua energia no que realmente importa: a educação de qualidade.</p>
            <a href="/sobre" class="btn-sobre">Saiba Mais</a>
        </div>
        <div class="presentation-image">
            <img src="/medias/images/image1.png" alt="Imagem de apresentação">
        </div>
    </section>

    <!-- Painel de recursos -->
    <section class="tools-panel">
        <div class="tools-header">
            <h2 class="section-title">Recursos</h2>
            <h4 class="section-subtitle">Descubra uma variedade de recursos que ajudarão na gestão e otimização de suas atividades. Navegue pelas diferentes aplicações disponíveis e encontre o que você precisa para melhorar sua eficiência e produtividade.</h4>
        </div>
        <div class="tools-container">
            <a href="#" class="tool-card">
                <div class="tool-info">
                    <div class="tool-title">
                        <div class="title-badge">Reserva de equipamentos</div>
                    </div>
                    <div class="tool-link">
                        <div class="tool-icon">
                            <div class="icon-circle"></div>
                            <div class="icon-arrow"></div>
                        </div>
                        <div class="link-text">Saiba mais</div>
                    </div>
                </div>
                <div class="tool-illustration">
                    <img src="/medias/images/educontrole.svg" alt="Reserva de equipamentos">
                </div>
            </a>

            <a href="#" class="tool-card">
                <div class="tool-info">
                    <div class="tool-title">
                        <div class="title-badge">Informativos para TV</div>
                    </div>
                    <div class="tool-link">
                        <div class="tool-icon">
                            <div class="icon-circle"></div>
                            <div class="icon-arrow"></div>
                        </div>
                        <div class="link-text">Saiba mais</div>
                    </div>
                </div>
                <div class="tool-illustration">
                    <img src="/medias/images/broadcast.svg" alt="Informativos para a TV">
                </div>
            </a>

            <a href="#" class="tool-card">
                <div class="tool-info">
                    <div class="tool-title">
                        <div class="title-badge">Coordenação</div>
                    </div>
                    <div class="tool-link">
                        <div class="tool-icon">
                            <div class="icon-circle"></div>
                            <div class="icon-arrow"></div>
                        </div>
                        <div class="link-text">Saiba mais</div>
                    </div>
                </div>
                <div class="tool-illustration">
                    <img src="/medias/images/manager.svg" alt="Coordenação">
                </div>
            </a>

            <a href="#" class="tool-card">
                <div class="tool-info">
                    <div class="tool-title">
                        <div class="title-badge">Votações internas</div>
                    </div>
                    <div class="tool-link">
                        <div class="tool-icon">
                            <div class="icon-circle"></div>
                            <div class="icon-arrow"></div>
                        </div>
                        <div class="link-text">Saiba mais</div>
                    </div>
                </div>
                <div class="tool-illustration">
                    <img src="/medias/images/voting.svg" alt="Votações internas">
                </div>
            </a>

            <a href="#" class="tool-card">
                <div class="tool-info">
                    <div class="tool-title">
                        <div class="title-badge">Gamificação</div>
                    </div>
                    <div class="tool-link">
                        <div class="tool-icon">
                            <div class="icon-circle"></div>
                            <div class="icon-arrow"></div>
                        </div>
                        <div class="link-text">Saiba mais</div>
                    </div>
                </div>
                <div class="tool-illustration">
                    <img src="/medias/images/gaming.svg" alt="Gamificação">
                </div>
            </a>

            <a href="/sobre" class="tool-card">
                <div class="tool-info">
                    <div class="tool-title">
                        <div class="title-badge">Pauta Digital</div>
                    </div>
                    <div class="tool-link">
                        <div class="tool-icon">
                            <div class="icon-circle"></div>
                            <div class="icon-arrow"></div>
                        </div>
                        <div class="link-text">Saiba mais</div>
                    </div>
                </div>
                <div class="tool-illustration">
                    <img src="/medias/images/ar.svg" alt="Pauta Digital">
                </div>
            </a>
        </div>
    </section>

    <!-- Reviews dos usuários -->
    <section class="reviews" style="background-color: #191A23;">
        <h2>Depoimentos dos Usuários</h2>
        <div class="reviews-container">
            <div class="review">
                <img src="/medias/images/review1.png" alt="Usuário 1" class="review-image">
                <p>"Ótimo sistema, me ajudou muito!"</p>
                <span>- Josie</span>
            </div>
            <div class="review">
                <img src="/medias/images/review2.png" alt="Usuário 2" class="review-image">
                <p>"Muito fácil de usar e eficiente!"</p>
                <span>- Michael</span>
            </div>
            <div class="review">
                <img src="/medias/images/review3.png" alt="Usuário 3" class="review-image">
                <p>"Recomendo a todos!"</p>
                <span>- Richard</span>
            </div>
        </div>
    </section>

    <!-- Planos de acesso -->
    <section class="plans">
        <h2>Nossos Planos</h2>
        <div class="plans-container">
            <div class="plan bronze">
                <h3>Plano Bronze</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href="#" class="btn-comprar">Comprar</a>
            </div>
            <div class="plan silver">
                <h3>Plano Prata</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href="#" class="btn-comprar">Comprar</a>
            </div>
            <div class="plan gold">
                <h3>Plano Ouro</h3>
                <p>Lorem ipsum dolor sit amet.</p>
                <a href="#" class="btn-comprar">Comprar</a>
            </div>
        </div>
    </section>