# Logs
logs
*.log
*.out

# Pacotes de Node.js
node_modules/
package-lock.json
npm-debug.log
yarn-error.log
yarn.lock

# Arquivos de configuração sensíveis
.env

# Arquivos de build e temporários
build/
dist/
tmp/
temp/
*.swp
*.swo
.cache/
.DS_Store # Arquivos do macOS

# Arquivos de cobertura de testes
coverage/
.nyc_output/

# Outros
.idea/ # Arquivos do IntelliJ IDEA
.vscode/ # Arquivos do VS Code