<section class="admin-master-container">
    <%- include('../partials/admin-sidebar') %>  
    <main class="admin-master-content">
        <header class="admin-master-header">
            <h1>Atas e Registros</h1>
            <p>Crie Atas e Relatórios dos mais diversos de forma simples com a utilização de IA.</p>
        </header>          
    </main>
</section>    