<section class="admin-master-container">
    <%- include('../partials/admin-sidebar') %>  
    <main class="admin-master-content">
        <header class="admin-master-header">
            <h1>Atas e Registros</h1>
            <p>Crie Atas e Relatórios dos mais diversos de forma simples com a utilização de IA.</p>
        </header>  
        <div class="nav-reports">
            <a href="/reports" style="
                display: inline-block;
                padding: 10px 20px;
                background-color: black;
                color: white;
                text-decoration: none;
                border-radius: 5px;
                font-family: sans-serif;
                font-size: 16px;
                white-space: nowrap;
                border: none;
                cursor: pointer;
                transition: background-color 0.3s ease, color 0.3s ease;
            " onmouseover="this.style.backgroundColor='#B9FF66'; this.style.color='black';" onmouseout="this.style.backgroundColor='black'; this.style.color='white';">Voltar</a>
        </div>        
    </main>
</section>    